.footer-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6vh; 
    text-align: center;
}

.footer-txt{
    font-family: 'Montserrat';
    color: #FF8A00;
    font-size: 17px;
}

#gh-icon{
    font-size: 20px;
}

#gh-link{
    text-decoration: none;
    transition: color .7s ease;
    color: #913BA7;
    font-size: 19px;
}

#gh-link:hover{
    transition: color .7s ease;
    color: #FF8A00;
}

#footer-hr{
    width: 5%;
}